@import '../loginpage/LoginPage.css';

.auth-success-text {
  margin-top: 4px;
  font-size: 12px;
  color: #059669;
  background-color: #d1fae5;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #10b981;
}

